* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    overflow-x: hidden;
}

/* Header global */
.header {
    background: transparent; /* Assurez-vous que cela correspond à ce que vous voulez */
    padding: 0;
    border-bottom: none;
}

/* Navbar */
.navbar {
    width: 100%;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    background: transparent; /* Assure la transparence de la navbar */
    position: absolute;
    top: 0;
    left: 0;
}

/* Logo */
.logo {
    width: 160px;
    margin-left: 30px;
    cursor: pointer;
}

/* Liste de navigation */
.nav {
    display: flex;
    list-style: none;
    margin-right: 30px;
}

/* Éléments de la liste */
.nav-item {
    margin: 0 20px;
}

/* Liens de navigation */
.nav-link {
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(0, 0, 0); /* Couleur rouge pour le texte */
    font-weight: 600;
    padding: 15px;
}

/* Effet au survol */
.nav-link:hover {
    background: rgba(0, 0, 0, 0.3); /* Fond léger au survol */
    transition: 0.6s;
    color: black; /* Couleur du texte au survol */
}

.content {
    width: 100%;
    color: white;
    text-align: center;
    z-index: 2;
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 20px;
}

.content h1 {
    margin-top: 0;
    font-size: 60px;
    font-weight: 200;
}

button {
    width: 200px;
    padding: 15px;
    margin: 20px 5px;
    text-align: center;
    border-radius: 25px;
    color: black;
    border: 2px;
    font-size: 20px;
    cursor: pointer;
    font-weight: 600;
}

button:hover {
    background: rgb(0, 192, 226);
    transition: 0.5s;
    color: white;
}

.section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    padding: 60px 20px;
    text-align: center;
}

.section img {
    border-radius: 60px;
}

.section h1 {
    margin-bottom: 20px;
    font-size: 70px;
    text-align: center;
}

.section p {
    font-size: 20px;
    margin-bottom: 20px;
}

.section button {
    color: rgb(140, 91, 187);
}
